### commands
- to start the server <br> 
`mongod`

- to start mongodb shell <br>
`mongo`

- no need to create database explicitly can use command to use ,which will create db if not existing
` use myDataBase`

- create collection(table)
`db.createCollection("mycollection")`

- Insert a single document(row)
`db.mycollection.insertOne({name:"jon",age:30})`

- insert many
`db.mycollection.insertMany([{name:"jas",age:23},{name:"kav",age:22}])`

- to retrieve document.find all
 `db.mycollection.find()`

- find with query
 `db.mycollection.find({age:{$gt:20}})`

- find one document
`db.mycollection.findOne({name:"jon"})`

- update one document
`db.mycollection.updateOne({name:"jon"},{$set:{age:32}
})`

- delete one 
`db.mycollection.deleteOne({name:"jon"})`

- delete multiple
`db.mycollection.deleteMany({age:{$gt:32}})`

`$gt`
`$gte`
`$lt`
`$lte`
`$eq`
`$and`
`$or`

`db.mycollection.find({name:{$gt:20,$lt:34}})`

- create index
`db.mycollection.createIndex({name:1})`

- list indexes
`db.mycollection.getIndexes()`

#### aggregations

db.mycollection.aggregate([
    {$match:{city:"delhi"}},
    {$group:{_id:"age",count:{$sum:1}}}
])

{ "name": "Alice", "age": 30, "city": "New York" }
{ "name": "Bob", "age": 30, "city": "New York" }
{ "name": "Charlie", "age": 25, "city": "New York" }
{ "name": "David", "age": 30, "city": "New York" }
{ "name": "Eve", "age": 25, "city": "New York" }
{ "name": "Frank", "age": 35, "city": "New York" }

[
  { "_id": 30, "count": 3 },
  { "_id": 25, "count": 2 },
  { "_id": 35, "count": 1 }
]

###  Find the Average Age in a City

db.myCollection.aggregate([
  { $match: { city: "New York" } },
  { $group: { _id: null, avgAge: { $avg: "$age" } } }
])

###  Sum of Sales by Product

db.mycollection.aggregate([
    {$group:{_id:"$product",sum:{$sum:"$sales"}}}

])

### Count of Documents by a Specific Field

db.mycollection.aggregate([
   {$group:{_id:"$city",count:{$sum:1}}}
])

### sorting group results

db.mycollection.aggregate([
    {$group:{_id:"$age",count:{$sum:1}}},
    {$sort:{count:-1}}
])

### project specific fields

db.myCollection.aggregate([
  { $group: { _id: "$city", totalCount: { $sum: 1 } } },
  { $project: { _id: 0, city: "$_id", totalCount: 1 } }
])

### . Using $lookup to Join Collections

order and products

db.orders.aggregate([
  {
    $lookup: {
      from: "products",      // the collection to join with
      localField: "productId", // field from 'orders' collection
      foreignField: "_id",    // field from 'products' collection
      as: "productDetails"    // name of the new array field that will hold the joined data
    }
  }
])

###  Filter After Grouping

db.myCollection.aggregate([
  { $group: { _id: "$age", count: { $sum: 1 } } },
  { $match: { count: { $gt: 2 } } }
])

#### Projecting Fields After Grouping
- This example first groups by city and calculates the sum of sales (amount), then projects only the city and the sum of sales in the final result.

db.sales.aggregate([
  { $group: { _id: "$city", totalSales: { $sum: "$amount" } } },
  { $project: { _id: 0, city: "$_id", totalSales: 1 } }
])

### Array Operations in Aggregation
- This example finds the maximum score from a student's scores array.

db.students.aggregate([
  { $unwind: "$scores" }, // Unwinds the 'scores' array into separate documents
  { $group: { _id: "$name", maxScore: { $max: "$scores" } } }
])

###  Using $project to Include or Exclude Fields
- This example filters the fields in the final result by excluding certain fields.

db.myCollection.aggregate([
  { $project: { name: 1, city: 1, _id: 0 } }
])

___

###  MongoDB in Python (Using pymongo)

```
pip install pymongo

In [ ]:
from pymongo import MongoClient

# Connect to MongoDB server
client = MongoClient("mongodb://localhost:27017/")
db = client["myDatabase"]
collection = db["myCollection"]

# Insert a document
collection.insert_one({"name": "Charlie", "age": 40, "city": "Miami"})

# Query the database
document = collection.find_one({"name": "Charlie"})
print(document)